modules = ["nodejs-20", "web", "python-3.12", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["zip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3003

[[ports]]
localPort = 5002
externalPort = 8000

[[ports]]
localPort = 5003
externalPort = 8008

[[ports]]
localPort = 5004
externalPort = 6800

[[ports]]
localPort = 5007
externalPort = 5000

[[ports]]
localPort = 23636
externalPort = 3002

[[ports]]
localPort = 23637
externalPort = 3000

[[ports]]
localPort = 23638
externalPort = 3001

[[ports]]
localPort = 23639
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
AWS_REGION = "us-east-1"
AWS_S3_BUCKET = "medmind-bucket-s3"
